In [69]:
import numpy as np
import pandas as pd
df = pd.read_csv('task7.csv')
print(df)

             province  register nr                    province capital  \
0        dolnoslaskie            2                             Wroclaw
1  kujawsko-pomorskie            4                   Bydgoszcz / Torun
2           lubelskie            6                              Lublin
3            lubuskie            8  Gorzow Wielkopolski / Zielona Gora
4             lodzkie           10                                lodl
5         malopolskie           12                              Krakow
6         mazowieckie           14                              Warsaw
7       wielkopolskie           30                              Poznan

   area[km2]  population
0   19946.70     2904198
1   17971.34     2086210
2   25122.46     2139726
3   13987.93     1018084
4   18218.95     2493603
5   15182.79     3372618
6   35558.47     5349114
7   29826.50     3475323

In [50]:
# sort data by population
df.sort_values('population',ascending = False)

,province,register nr,province capital,area[km2],population
6,mazowieckie,14,Warsaw,35558.47,5349114
7,wielkopolskie,30,Poznan,29826.50,3475323
5,malopolskie,12,Krakow,15182.79,3372618
0,dolnoslaskie,2,Wroclaw,19946.70,2904198
4,lodzkie,10,lodl,18218.95,2493603
2,lubelskie,6,Lublin,25122.46,2139726
1,kujawsko-pomorskie,4,Bydgoszcz / Torun,17971.34,2086210
3,lubuskie,8,Gorzow Wielkopolski / Zielona Gora,13987.93,1018084

In [51]:
# move the 'province capital' column to the last place
df = df[['province','register nr','area[km2]','population','province capital']]
print(df)

             province  register nr  area[km2]  population  \
0        dolnoslaskie            2   19946.70     2904198
1  kujawsko-pomorskie            4   17971.34     2086210
2           lubelskie            6   25122.46     2139726
3            lubuskie            8   13987.93     1018084
4             lodzkie           10   18218.95     2493603
5         malopolskie           12   15182.79     3372618
6         mazowieckie           14   35558.47     5349114
7       wielkopolskie           30   29826.50     3475323

                     province capital
0                             Wroclaw
1                   Bydgoszcz / Torun
2                              Lublin
3  Gorzow Wielkopolski / Zielona Gora
4                                lodl
5                              Krakow
6                              Warsaw
7                              Poznan

In [52]:
df.province = df.province.str.capitalize()
print(df)

             province  register nr  area[km2]  population  \
0        Dolnoslaskie            2   19946.70     2904198
1  Kujawsko-pomorskie            4   17971.34     2086210
2           Lubelskie            6   25122.46     2139726
3            Lubuskie            8   13987.93     1018084
4             Lodzkie           10   18218.95     2493603
5         Malopolskie           12   15182.79     3372618
6         Mazowieckie           14   35558.47     5349114
7       Wielkopolskie           30   29826.50     3475323

                     province capital
0                             Wroclaw
1                   Bydgoszcz / Torun
2                              Lublin
3  Gorzow Wielkopolski / Zielona Gora
4                                lodl
5                              Krakow
6                              Warsaw
7                              Poznan

In [71]:
data = [df['province'],df['population']/df['area[km2]']]
headers = ['province','average population per km2']
df1 = pd.concat(data,axis=1, keys=headers)
df1['crowded?'] = np.where(df1['average population per km2'] > 140, True, False)
print(df1)

             province  average population per km2  crowded?
0        dolnoslaskie                  145.597918      True
1  kujawsko-pomorskie                  116.085389     False
2           lubelskie                   85.171834     False
3            lubuskie                   72.783035     False
4             lodzkie                  136.868645     False
5         malopolskie                  222.134272      True
6         mazowieckie                  150.431501      True
7       wielkopolskie                  116.517962     False

In [74]:
df = df[~df['province'].isin(['lubuskie'])]
print(df)

             province  register nr   province capital  area[km2]  population
0        dolnoslaskie            2            Wroclaw   19946.70     2904198
1  kujawsko-pomorskie            4  Bydgoszcz / Torun   17971.34     2086210
2           lubelskie            6             Lublin   25122.46     2139726
4             lodzkie           10               lodl   18218.95     2493603
5         malopolskie           12             Krakow   15182.79     3372618
6         mazowieckie           14             Warsaw   35558.47     5349114
7       wielkopolskie           30             Poznan   29826.50     3475323

In [75]:
df.describe()

       register nr     area[km2]    population
count     7.000000      7.000000  7.000000e+00
mean     11.142857  23118.172857  3.117256e+06
std       9.370674   7385.804258  1.127502e+06
min       2.000000  15182.790000  2.086210e+06
25%       5.000000  18095.145000  2.316664e+06
50%      10.000000  19946.700000  2.904198e+06
75%      13.000000  27474.480000  3.423970e+06
max      30.000000  35558.470000  5.349114e+06